@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
:root{
    --color-sky:#55CEFF;
    --color-land:#2e5d24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body{
    font-family: 'Press Start 2P', sans-serif;
    overflow: hidden; ;
   
    
}
.start-game{
    position: relative;
    background-image: url('../img/logo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: -43rem;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 42rem;
    cursor: pointer;
    color:#fff;
    z-index: 10;
  width: 100vw;
    height: 100vh; 
    position: relative;

    
}



.start-game h1{
 position: absolute;
 top:50%;
 left:30%;
 text-shadow: 3px 3px #000;


}

.hidden{
    display: none;
}


.game-screen{
    background-image: url('../img/background.jpg');
    /* background-color: var(--color-sky); */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.robot{
    position: absolute;
    background-image: url('../img/robot.png');
    background-size: contain;
    background-repeat: no-repeat;
 
}




 .superman{

    position: absolute;
    background-image: url('../img/superman-stand-2.png');
    background-size: cover;
}


.laser{
    position:absolute;
    background-image: url('../img/image.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.score{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;
}

.health{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;
}
.level{
    position: absolute;
    top:1rem;
    left:70rem;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;

}
.game-over{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;   
    padding-bottom: 5rem;
    text-shadow: 3px 3px #000;

}

.green-cripto{
    position: absolute;
    background-image: url('../img/green-cripto.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.red-cripto{
    position: absolute;
    background-image: url('../img/red-cripto.png');
    background-size: contain;
    background-repeat: no-repeat;
}
