@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body{
    font-family: 'Press Start 2P', sans-serif;
    
}


.start-game{
    position: relative;
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -33rem;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 42rem;
    cursor: pointer;
    color:#fff;

    
}

.start-game h1{
 position: absolute;
 top:50%;
 left:30%;


}

.hidden{
    display: none;
}


.game-screen{
    background-image: url('../img/background.jpg');
    width: 100vw;
    height: 100vh;
   
    
}



 .superman{

    position: absolute;
    background-image: url('../img/superman.png');
    background-size: contain;
    background-repeat: no-repeat;
    
 
}
