@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body{
    font-family: 'Press Start 2P', sans-serif;
    overflow: hidden; ;
   
    
}
.start-game{
    position: relative;
    background-image: url('../assets/output-onlinepngtools\ \(1\).png');

    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: -40rem;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 42rem;
    color:#fff;
    z-index: 10;
  width: 100vw;
    height: 100vh; 
    position: relative;
    
}



.start-game h1{
 position: absolute;
 top:85%;
 left:50%;
 transform: translate(-50%, -50%);
 text-shadow: 3px 3px #000;
 font-size: 2.5rem;
 cursor: pointer;


}

.start-game span img{
    width: 5rem;
    padding-right: 2.5rem;
}

.instructions{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    margin-top:-28rem;
}

.instructions-keys{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}


.instructions-keys .arrow{
    width: 6.5rem;
}



.hidden{
    display: none;
}


.game-screen{
    background-image: url('../assets/_sample_abandon.png');
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-size: contain;
}
.img img{
    width: 100vw;
    height: 100vh;
}

.robot{
    position: absolute;
    background-image: url('../assets/robot.png');
    background-size: contain;
    background-repeat: no-repeat;
 
}




 .superman{
    width:190px;
    height:250px;
    position: absolute;
    background: transparent url('../assets/imgonline-com-ua-resize-Mp2ndNQ9uBvPPc.png') 0 0 no-repeat;
    animation: flying .9s steps(2) infinite
}

@keyframes flying {
    from{background-position: 0,0;}
     to{background-position: -400px 0;}
    }
   

.laser{
    position:absolute;
    background-image: url('../assets/image.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.score{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;
    color:black;
}

.health{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;
    color:black;

}
.level{
    position: absolute;
    top:1rem;
    left:56rem;
    font-size: 5rem;
    border: 7px solid black;
    padding: 2rem 2rem;
    color:black;


}
.game-over{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/_sample_abandon.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;   
    padding-bottom: 5rem;
    text-shadow: 3px 3px #000;

}
.game-over-text{
  
   font-size: 4rem;
}
.game-over-text p{
    padding-bottom: 2rem;
}
.green-cripto{
    position: absolute;
    background-image: url('../assets/green-cripto.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.red-cripto{
    position: absolute;
    background-image: url('../assets/red-cripto.png');
    background-size: contain;
    background-repeat: no-repeat;
}


    .superman-blink{

        position: absolute;
        background-image: url('../assets/superman-stand.png');
        background-size: cover;
        animation: blink .1s step-start infinite;
    }
   
.play-again{
    padding-top: 2rem;
    padding: 4rem 4rem;
    border: .5rem solid white;
    cursor: pointer;
}
  
  @keyframes blink {
    0% { opacity: 1;
     }
    50% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
